.video-image{
    width: 100px;
    height: 84px;
}
.title{
    font-size: 14px ;
    font-weight: bold;
}
.descriptoin{
    font-size: 10px ;
}

.add-video-container{
    padding-left: 0px;
    padding-top: 10px;
}