
  <div dndDropzone
   (dndDragover)="onDragover($event)"
   (dndDrop)="onDrop($event)">

   <div dndPlaceholderRef class="drag-active">
      <i class="material-icons">
          add_circle
          </i>
   </div>
   <div class="row">
     <div class="col-xs-4 details">
       <div>Created by: {{playlist.created_by}}</div>
       <div>Organization: {{playlist.organization}}</div>
       <div>genre: {{playlist.genre}}</div>
     </div>
     <div class="col-xs-4 details">
        <div>Pin code : {{playlist.pin_code}}</div>
      <div>listeners: {{playlist.listeners.length}}</div>
     </div>
     <div class="col-xs-4 details delete">
        <!-- <button mat-raised-button
        class="example-delete-tab-button"
        (click)="removeTab()">
        Delete Tab
        </button> -->
        <div>
      <button class="join-list-btn" mat-stroked-button [color]="'my-primary'" (click)="removeTab()">DELETE LIST</button>
    </div>
    <div>AUTOPLAY:<mat-slide-toggle (toggleChange)="toggleChange()" [checked]="checkIfAutoPlay()"></mat-slide-toggle></div>

     </div>
   </div>
   <div class="row" dragula="VIDEOS" [(dragulaModel)]="playlist.videos">

      <div class="col-xs-2 images" *ngFor="let video of playlist.videos" >
        <img class="vid" [src]="video.snippet.thumbnails.medium.url" height="150" />
        <div class="play">
            <i class="material-icons" (click)="playVideo(video)">
                play_circle_filled
                </i>
                <i class="material-icons" (click)="deleteVideo(video)">
                    delete_outline
                    </i>
        </div>

      </div> 
    </div>
 

    </div>

