
  <div dndDropzone
   (dndDragover)="onDragover($event)"
   (dndDrop)="onDrop($event)">


   <div dndPlaceholderRef class="drag-active">
      <i class="material-icons">
          add_circle
          </i>
   </div>
   <div class="row" *ngFor="let video of playlist.videos">
      
      <div class="col-xs-4">
          <div id="yt-player"></div>
          <!-- 
          <youtube-player 
          videoId="ZWJH7JQCjLM" 
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)">
        </youtube-player> -->
      </div> 
    </div>
 
<button mat-raised-button
              class="example-delete-tab-button"
              (click)="removeTab()">
        Delete Tab
      </button>
    </div>