
<div class="playlist-container" *ngIf="playlists">
  <mat-tab-group selectedIndex="2">
    <mat-tab  *ngFor="let tab of playlists | async" [label]="tab.name">
      <div></div>
      <div class="tab-contianer" >
        <div class="tab-header">
              <div class="tab-line"></div>
        </div>
      </div>
          <app-play-list-item (videoClicked)="playVideo($event)" [playlist]="tab"></app-play-list-item>

    
    </mat-tab>

    <mat-tab   label="+">
        <div class="tab-contianer">
            <div class="tab-header">
                  <div class="tab-line"></div>
            </div>
            <app-add-list-tab></app-add-list-tab>
          </div>
    </mat-tab>
  </mat-tab-group>
</div>