<div class="container-fluid">
    <div class="row">
      <app-site-header
          (joinPlaylistClicked)="joinPlaylist($event)"
          (searchVideo)="searchVideos($event)"
          class="col-xs-12"></app-site-header>
    </div>
  
    <div class="row">
      <app-play-lists class="col-xs-12"></app-play-lists>
    </div>
  </div>
  
  <div *ngIf="vids">
  <youtube-player
      [videoId]="vids[0].id"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>
  </div>