.top-video{
    text-align: center;
    margin-top: 25px;
}
$primary-red :#C01A1A;

.header-container{
    color: $primary-red;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 5px solid $primary-red;
}