<div class="container-fluid">
  <div class="row">
    <app-site-header (joinPlaylistClicked)="joinPlaylist($event)" (searchVideo)="searchVideos($event)" class="col-xs-12"></app-site-header>
  </div>
  <div *ngIf="searchResults && searchResults.length > 0">
    <app-search-results [searchResults]="searchResults"></app-search-results>
  </div>
  <div class="row">
    <app-play-lists class="col-xs-12"></app-play-lists>
  </div>
      <div class="col-xs-3">
        <app-top-videos regionCode="IL"></app-top-videos>
      </div>
      <div class="col-xs-3">
        <app-top-videos regionCode="US"></app-top-videos>
      </div>
      <div class="col-xs-3">
          <app-top-videos regionCode="GB"></app-top-videos>
        </div>
    <div class="col-xs-9">
      <app-explore-playlists></app-explore-playlists>
    </div>
</div>

<app-singel-video></app-singel-video>