.top-video-container{
    
}
app-play-lists{
    width: 100%;
}
app-play-lists{
    position: fixed;
    bottom: 0;
    z-index: 99;
}
.top-video-container{
    text-align: center;
    .first-div{
        margin-left: 13.333333%;
    }
}

.search-results-container{
    margin: 0px
}